header {
  transition: 0.5s;
  justify-content: space-between;
  font-size: var(--bigFont);
  width: 100%;
  // display: flex;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $global-gap-width;
  position: sticky;
  top: 0;
  z-index: 100;
  padding-top: $global-gap-width;
  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
    gap: 0;
  }
  &.top-sidebar-open {
    top: 50vh;
    @media (max-width: $mobile) {
      top: 100vh;
    }
  }
}

/* .banner-space {
    height: 12vh;
} */

.bullet {
  margin-right: 3px;
}

.logo-container {
  // width: 50vw;
  /* margin-top: -10px; */
  @media (max-width: $mobile) {
    // width: unset;
  }

  a,
  img {
    width: 100%;
  }
}

nav.nav-menu {
  margin-left: auto;
  display: flex;

  font-size: var(--bigFont);
  @media (max-width: $mobile) {
    font-size: var(--normalFont);
    margin: 0;
  }
}

.menu-items {
  list-style: none;
  display: flex;
  position: sticky;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  padding-left: 0;

  gap: $global-gap-width;
  @media (max-width: $mobile) {
    justify-content: space-between;
    width: 100%;
    margin-top: 6px;
    font-size: calc(var(--normalFont) * 1.1);
  }
}

a {
  text-decoration: none;
}

a:visited {
  color: #393939;
}

.menu-items li {
  // margin-left: 5.5px;
  // margin-right: 5.5px;
}

.active-open:focus:before {
  content: "•";
}

/* .space-banner {
    height: 15px;
    width: 100%;
} */
