.about-container,
.visit-container {
  word-break: break-word;
  hyphens: auto;
}

.about-container,
.visit-container,
.people-container {
  // width: 45%;
  // margin: 0 16px;
  text-align: justify;
  .members-volunteers,
  .past-members {
    text-align: left;
  }

  @media (max-width: $mobile) {
    // text-align: left;
  }
}

h2 {
  font-size: var(--bigFont);
  font-weight: 700;
  margin: 0;
}

.members-volunteers {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.members {
  // margin-right: 10rem;
}

.top-sidebar {
  --theme: var(--backgroundColor);
  background-color: var(--theme);
  // height: 50vh;
  width: 100%;
  position: fixed;
  z-index: 9999;
  left: 0;
  // background-color: var(--backgroundColor);
  overflow-x: hidden;
  padding: $global-gap-width;
  font-size: $global-gap-width;
  font-weight: 700;
  -webkit-transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  top: -50vh;
  grid-gap: $global-gap-width;
  open {
    top: 0;
  }
  // display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media (max-width: $mobile) {
    top: -110vh;
    // grid-template-columns: 1fr;
    font-size: 1rem;
    height: 100vh;
    overflow-y: scroll;
  }
  &.top-sidebar-open {
    top: 0;
  }
}

.openbtn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: #393939 !important;
}

#main {
  transition: margin-top 0.5s;
  margin-bottom: $global-gap-width;
}

.visit-exhibitions-display {
  display: inline !important;
}

.closebtn {
  top: $global-gap-width;
  right: $global-gap-width;

  position: absolute;
  font-size: var(--bigFont);
  color: #393939;
  &:hover {
    color: #393939;
  }
}
